@import "./utils/variables";

body {
    background-color: #F6F6F6;
}

#nav-back a, #nav-back a:visited {
    margin-left: 40px;
    color: #000000;
}
#nav-back a:hover, #nav-back a:active {
    color: $tertiary;
}

.restaurant-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.menu-box {
    width: 100%;
    border-radius: 36px;
    position: relative;
    top: -60px;
    background-color: #F6F6F6;
    padding-top: 25px;
    padding-bottom: 0;
    & .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position:relative;
        width: 93.5%;
        margin: auto;
        & h1 {
            margin: 0;
            font-size: 26px;
        }
        & .like-box {
            top: 0;
        }
    }
    & .meals-box {
        width: 93.5%;
        margin:auto;
        display:flex;
        flex-direction: column;
    }
    & .meal-type {
        margin-top: 40px;
        margin-bottom: 4px;
    }
    & .green-line {
        width: 40px;
        height: 3px;
        background-color: $tertiary;
        margin-bottom:15px;
    }
    @media screen and (min-width: 768px) {
        & .heading, & .meals-box  {
                width: 85%;
        }
    }
    @media screen and (min-width: 1366px) {
        & .meals-box {
            width: 95%;
            flex-direction: row;
            justify-content: space-between;
            &>div {
                width: 32%;
            }
        }

    }
    
    & .cards {
        border-radius: 16px;
        margin: 15px auto;
        padding-left: 12px;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 15px #B6B6B6;
        cursor: pointer;
        overflow:hidden;
        display:flex;
        & .meal-text {
            width:max-content;
            flex: 1 3;
            white-space: nowrap;
            overflow: hidden;
        }
        & .meal-name {
            margin-top: 12px;
            margin-bottom: 6px;
            padding-right: 20px;
            font-weight: bold;
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .meal-description {
            margin-top: 10px;
            margin-bottom: 12px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .meal-price {
            margin-right: 30px;
            margin-bottom: 12px;
            font-weight: bold;
            align-self:flex-end;
            flex-shrink: 0;
        }
        .meal-checked {
            width: 0;
            background-color: $tertiary;
            display:flex;
            vertical-align: middle;
            transition: width 500ms;
            & i {
                margin: auto;
                color: #FFFFFF;
                font-size: 20px;
                transition: transform 350ms 150ms;
            }
        }
        &:hover {
            & .meal-checked {
                width: 60px;
            }
            & i {
                transform: rotate(1turn);
            }
        }
        @media screen and (min-width: 1024px) {
            .meal-name, .meal-price {
                font-size: 24px;
            }
            .meal-description {
                font-size: 18px;
            }
            & .meal-checked i {
                font-size: 32px;
            }
            &:hover {
                & .meal-checked {
                    width: 120px;
                }
            }
        }
        @media screen and (min-width: 1366px) {
            .meal-name{
                font-size: 20px;
            }
            .meal-price {
                margin-right: 18px;
                font-size: 20px;
            }
            .meal-description {
                font-size: 14px;
            }
        }
        
    }
    & .cta-min {
        text-align: center;
    }
    & .cta__button {
        margin-bottom: 0;
        padding: 18px 48px;
    }
}
@for $i from 1 to 5 {
    $delay: calcul-tout-simple($i);
    .meals .cards:nth-child(#{$i}) {
        animation: set-menucards 1000ms ease-out #{$delay} 1 both;
    }
}